.button{
    margin: 10px;
    border: 1px black solid;
}
#divHome{
    display: flex;
    height: 400px;
    width: 800px;
    align-items: center;
    justify-content: space-evenly;
}
.buttonHome{
height: 200px;
width: 200px;
}