.button{
    margin: 10px;
    border: 1px black solid;
}
#divHome{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
#backroundImg{
    border-radius: 0px;
    width: 100%;
}
