.card {
    width: 200px;
    display: flex;
    border: 3px black solid;
    margin: 10px;
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0px;
}
.img {
    max-height: 100%;
    width:200px;
    top: 0px;
}
#buttons {
    min-height: 170px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}