#userMode{
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 5px;
    min-width: 200px;
    justify-content: center;
    flex-direction: row-reverse;
}
#userName{
    margin: 7px;
}
#logOut {
    display: flex;
    width: 150px;
    height: 115px;
    background-color:whitesmoke;
    position: fixed;
    top: 21%;
    left: 25%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.button{
    display: flex;
    width: 90%;
    border: 0px solid;
    background-color: white;
    border-radius: 15px;
    justify-content: space-around;
}