#details{
    display: flex;
    width: 400px;
    min-height: 450px;
    border: 2px blue solid;
    border-radius: 20px;
    margin: 30px;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}
#details{
    display: flex;
}
#forms{
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}
.input{
    height: 25px;
    width: 300px;
    margin: 30px;
    border: 2px black solid;
    border-radius: 8px;
}
#message{
    display: flex;
    border-radius: 40px;
    border: 2px black solid;
    position: absolute;
    width: 60%;
    height: 50%;
    background-color: whitesmoke;
    z-index: 1000;
    padding: 10px;
    box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.2);
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
#divtext{
    font-size: 30px;
}